In [1]:
''' Question 1. Print numbers from 1 to 5 using a while loop.  '''

# solution

i = 1
while i <=5:
    print(i)
    i = i+1

1
2
3
4
5

In [2]:
'''Question 2. Calculate the sum of numbers from 1 to 10 using a while loop.  '''

# solution

i = 1
counter = 0
while i <= 10:
    counter = counter + i
    i =i+1
print(counter)

55

In [8]:
''' Question 3. Calculate the factorial of a number using a for loop.  '''

# solution

n = int(input('enter a number'))
count = 1
for i in range(n,0,-1) :
    count = count*i
print(count)

enter a number 5

120

In [13]:
''' Question 4. Count the number of vowels in a string using a for loop.  '''

# solution

s = 'I want to become a successful businessman'
vowels = 'AEIOUaeiou'
l = []
for i in s:
    if i in vowels:
        l.append(i)
print(l)
len(l)

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'u', 'e', 'u', 'u', 'i', 'e', 'a']

14

In [34]:
''' Question 5. Print a pattern using nested loops.  '''

# solution

for i in range(0,5):
    for j in range(0,5):
        print('*', end = ' ')
        
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
''' Question 6. Generate a multiplication table using nested loops.  '''

# solution
n = int(input('enter a number'))
for i in range(2,n):
    for j in range(1,11):
        result = j*i
        print(i, '*', j, '=', result)
        j = j+1

enter a number 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40